spawn-at-startup "xwayland-satellite"
spawn-at-startup "waybar"
spawn-at-startup "hyprpaper"
spawn-at-startup "sudo modprobe v4l2loopback"
spawn-at-startup "blueberry-tray"

environment {
  DISPLAY ":0"
  XCURSOR_SIZE "12"
  QT_QPA_PLATFORMTHEME "qt5ct"
  GDK_BACKEND "wayland,x11,*"
  QT_QPA_PLATFORM "wayland;xcb"
  XDG_SESSION_TYPE "wayland"
}

output "GIGA-BYTE TECHNOLOGY CO., LTD. G27F 2 23030B002769" {
  // mode "1920x1080@164.998"
  mode "1920x1080@170"
  scale 1
  position x=0 y=0
}

output "ASUSTek COMPUTER INC VG278 LALMQS010165" {
  mode "1920x1080@144.001"
  // mode "1920x1080@119.982"
  // mode "1920x1080@60"
  scale 1
  // transform "270"
  position x=0 y=0
}

output "HKC OVERSEAS LIMITED E2411K 0000000000001" {
  mode "1920x1080@143.997"
  // mode "1920x1080@60"
  scale 1
  position x=1920 y=0
}

output "Dell Inc. DELL U2412M YMYH14450KRL" {
  position x=0 y=-1200
}

output "Dell Inc. DELL E2418HN GXY2M8BJ1T9B" {
  position x=0 y=-1080
}

output "Dell Inc. DELL P2422HE 4MMLLQ3" {
  position x=0 y=-1080
}

output "Crestron Electronics, Inc. Crestron Unknown" {
  position x=0 y=0
}

output "Microstep MSI G274QPF CC2H633602149" {
  mode "1920x1080@144.000"
  position x=0 y=-1080
}

input {
    keyboard {
        xkb {
          layout "us"
          variant "altgr-intl"
        }
        numlock
    }

    touchpad {
        tap
        dwt
        drag-lock
        natural-scroll
        scroll-method "two-finger"
    }

    mouse

    trackpoint

    focus-follows-mouse max-scroll-amount="90%"
}

cursor {
    xcursor-theme "posy-white-tiny"
    xcursor-size 24
}

layout {
    gaps 10

    center-focused-column "on-overflow"

    preset-column-widths {
        proportion 0.5
        proportion 0.66667
        proportion 0.33333
    }
    preset-window-heights {
        proportion 0.5
        proportion 1.0
    }

    default-column-width


    focus-ring {
        width 3
        active-gradient from="rgba(179, 210, 126, 0.7)" to="rgba(167, 132, 218, 0.7)" angle=0
    }

    border {
        off

        width 1
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    shadow {
        softness 40
        spread 5
        offset x=0 y=5
        color "#0007"
    }

    struts {
        left 0
        right 0
        top 0
        bottom 0
    }
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    slowdown 2.0
    window-open {
        duration-ms 180
        curve "cubic-bezier" 0.258 0.036 0.327 0.954
    }

    window-resize {
        duration-ms 200
        curve "cubic-bezier" 0.258 0.036 0.327 0.954
    }

    workspace-switch {
        duration-ms 200
        curve "cubic-bezier" 0.258 0.036 0.327 0.954
    }

    horizontal-view-movement {
        curve "cubic-bezier" 0.258 0.036 0.327 0.954 ;
        duration-ms 180
    }

    window-close {
        curve "cubic-bezier" 0.258 0.036 0.327 0.954 ;
        duration-ms 180
    }

    window-movement {
        curve "cubic-bezier" 0.258 0.036 0.327 0.954 ;
        duration-ms 200
    }

    overview-open-close {
        curve "cubic-bezier" 0.258 0.036 0.327 0.954
        duration-ms 180
    }
    config-notification-open-close {
        duration-ms 200
        curve "cubic-bezier" 0.258 0.036 0.327 0.954
    }
}

window-rule {
    match app-id=r"^org\.wezfurlong\.wezterm$"
    default-column-width
}

window-rule {
    match app-id=r"vivaldi$" title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
  match title="^$"
  open-floating true
}

window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
    opacity 1.0
    background-effect {
        blur true
        xray true
    }
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return { spawn "alacritty"; }
    Mod+D { spawn "wofi"; }
    Mod+Shift+L { spawn "swaylock"; }
    Mod+E { spawn "nautilus"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+" "-l" "1.2"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-" "-l" "1.2"; }
    XF86AudioMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "playerctl" "previous"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "3%+" "-e" "-q"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "2%-" "-e" "-q"; }

    Mod+B { spawn "blueberry"; }
    Mod+Z { spawn "playerctl" "play-pause"; }
    Mod+X { spawn "playerctl" "next"; }

    Mod+A { spawn "wofi-pass" "-c"; }
    Mod+Shift+B { spawn "pwvucontrol"; }
    Mod+Period { spawn "wofi-emoji"; }

    Mod+G { toggle-overview; }
    Mod+T { spawn "alacritty"; }
    Mod+Shift+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left { focus-monitor-left; }
    Mod+Ctrl+Right { focus-monitor-right; }
    Mod+Ctrl+Up { focus-monitor-up; }
    Mod+Ctrl+Down { focus-monitor-down; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Alt+Down  { move-workspace-to-monitor-down; }
    Mod+Alt+Up { move-workspace-to-monitor-up; }

    Mod+N      { focus-workspace-down; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=250 { focus-workspace-down; }
    Mod+P        { focus-workspace-up; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=250 { focus-workspace-up; }
    Mod+Shift+N { move-column-to-workspace-down; }
    Mod+Shift+P  { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    Mod+WheelScrollUp cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-column-right; }

    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+Tab { focus-monitor-next; }
    Mod+Shift+Tab { move-window-to-monitor-next; }

    Mod+S hotkey-overlay-title="Swap workspaces from two monitors" {
        spawn "zsh" "-c" "niri msg action move-workspace-to-monitor-next && niri msg action focus-workspace-up && niri msg action move-workspace-to-monitor-next";
    }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Shift+Comma  { consume-window-into-column; }
    Mod+Shift+Period { expel-window-from-column; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+C { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Mod+Shift+S { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Ctrl+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
}

overview {
    backdrop-color "#232337"
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

window-rule {
    match is-focused=true
    background-effect {
        blur true
    }
}

blur {
    passes 4
    noise 0.05
    offset 2.0
    saturation 0.6
}

gestures {
    hot-corners
}
hotkey-overlay {
    skip-at-startup
}
