* {
	font-size: 12px;
	font-family: "Fira Code", monospace;
  font-weight: bold;
  border-radius: 10px;
}
 
.modules-center {
}

window#waybar {
	background-color: transparent;
}

#clock.1, #clock.2, #clock.3,
#pulseaudio, #memory, #cpu, #network, #mpd,
#battery, #disk, #backlight, #tray,
#keyboard-state {
  background: rgba(20, 24, 20, 0.64);
  text-shadow: 2px 3px 2px rgba(20, 20, 20, 0.3);
  /* background: rgba(12, 12, 12, 0.7); */
  padding: 0 12px;
  margin-left: 2px;
  margin-right: 2px;
  color: white;
}

#window {
  padding: 0 12px;
  margin: 0 2px;
  color: white;
  background: rgba(12, 12, 12, 0.5);
  text-shadow: 2px 4px rgba(20, 20, 20, 0.2);
}

window#waybar.empty #window {
  background: transparent;
}

#workspaces, #taskbar {
  background: rgba(18, 26, 23, 0.56);
}

#workspaces button, #taskbar button {
	padding: 1px 4px;
	color: #fafafa;
  border: 2px solid transparent;
}

/* button.active for hyprland, button.focused for sway */
#workspaces button.active, #taskbar button.active {
	color: #ffffff;
  border: 2px solid rgba(40, 170, 120, 1);
}

#workspaces button:hover, #taskbar button:hover {
  color: black;
  background-color: rgba(126,255,180,0.4);
  border: 2px solid rgba(80, 230, 180, 1);
	box-shadow: inherit;
	text-shadow: inherit;
}

